/* Note: Transitions included in the @media rules would not normally apply, They are there for demonstration purposes only. */

html {
	font-size: 16px;
}

body {
	font-family: "Work Sans", sans-serif, arial;
	line-height: 1.2;
}

/******************/
/* GENERIC STYLES */
/******************/

.courses-mobile {
	display: none;
}

.large-img-container {
	width: 60%;
}

.large-img-full-width {
	max-width: 100%;
}

.large-img-padding {
	padding: 2rem 1.5rem;
}

.small-img-container {
	width: 40%;
}

.small-img-full-width {
	max-width: 100%;
}

.small-img-padding {
	padding: 1rem 1rem;
}

.text-padding {
	padding: 0.5rem 0;
}

.light-text {
	font-weight: 300;
}

.rounded-border {
	border-radius: 5px;
}

/* To use the .circle class, Ensure images are equal height and width otherwise it will not be a prefect circle.  */

.circle {
	border-radius: 50%;
}

.bold {
	font-weight: 900;
}

.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bg-color {
	background-color: hsl(200, 66%, 89%);
}


/************************************/
/* RESPONSIVE GENERIC STYLES TABLET */
/************************************/

@media only screen and (min-width: 500px) and (max-width: 1024px) {

	.large-img-padding{
		padding: 0;
	}

	.large-img-container {
		width: 100%;
	}

	.small-img-container {
		width: 100%;
	}
}

/**********************************/
/* RESPONSIVE GENERIC STYLES PHONE*/
/**********************************/

@media only screen and (max-width: 500px) {

	.rounded-border {
		border-radius: 0;
	}

}


/******************/
/* HEADER SECTION */
/******************/

header {
	position: fixed;
	width: 100%;
	border-bottom: solid 1px #c6c1c1;
	background-color: white;
	z-index: 1;
	height: 4rem;
}

header .content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    padding: 1rem;
}

header .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

header nav li {
    padding-left: 3.5rem;
}

header nav a {
    line-height: 1.6;
    color: #4a4a4a;
}

header nav a:hover {
	color: blue;
	-webkit-transition: color ease-out 750ms;
	transition: color ease-out 750ms;
}

header .mobile {
    display: none;
}
 
/****************************/
/*  RESPONSIVE HEADER PHONE */
/****************************/

@media only screen and (max-width: 760px) {

  header .desktop {
    display: none;
  }

  .content span {
  	display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: 1rem 0;
  }

  header .mobile ul {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}

/******************/
/* BANNER SECTION */
/******************/

.banner {
	padding-top: 4rem;
}

.banner-content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-ms-grid-row-align: flex-start;
	align-items: flex-start;
}

.banner-info {
	padding-right: 8.5rem;
	padding-left: 1rem;
}

.banner-info h1 {
	font-size: 3rem;
	font-weight: bold;
	opacity: 0.6;
}

.banner-info p {
	font-size: 1.5rem;
	padding-top: 3rem;
	padding-right: 3rem;
	opacity: 0.6;
}

.start-here {
	background-color: rgb(74, 74, 74);
	text-align: center;
	padding: 1rem 0;
	border-radius: 5px;
	margin-top: 3.5rem;
	font-size: 1.25rem;
}

.start-here span a {
	color: white;
}

.start-here span a:hover {
	color: lawngreen;
	-webkit-transition: color ease-out 500ms;
	transition: color ease-out 500ms;
}


/****************************/
/* RESPONSIVE BANNER TABLET */
/****************************/

@media only screen and (min-width: 500px) and (max-width: 1024px) {
	
	.banner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.rounded-border {
		border-radius: 0;
	}

	.banner-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
	}

	.banner-info {
		text-align: center;
		padding: 2.5rem 0 3.5rem 0;
	}

}

/***************************/
/* RESPONSIVE BANNER PHONE */
/***************************/

@media only screen and (max-width: 500px) {

	.large-img-padding {
		padding: 0;
	}

	.large-img-container {
		width: 100%;
	}

	.small-img-container {
		width: 100%;
	}

	.banner-info {
		padding: 2rem 3rem;
	}

	.banner-info h1 {
		font-size: 2.75rem;
		margin-bottom: 1rem;
	}

	.banner-info p {
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
	}

	.banner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.start-here {
		width: 100%;
	}

}

/***********************/
/* INFORMATION SECTION */
/***********************/

.information-left {
	border-right: 0.25px solid lightgrey;
}

.information-left-content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-top: 2rem;
}

.information-left-content h2 {
	font-size: 2.5rem;
	font-weight: 600;
}

.information-left-content p {
	padding: 1.5rem 1.5rem 2.5rem 0;
}

.information-sidebar {
	width: 40%;
	padding-top: 1rem;
	margin-bottom: 2rem;
}

.info-image {
	width: 35%;
}

.info-image img {
	max-width: 100%;
	height: auto;
}

.info-text {
	width: 65%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.info-text h3, 
.info-text span, 
.info-text a {
	padding: 0.5rem;
}

.info-text h3 {
	font-weight: 600;
	font-size: 1.5rem;
}

.info-text a:hover {
	width: 5.25rem;
	background-color: #4969E1;
	border: 1px solid white;
	color: white;
	border-radius: 5px;
	-webkit-transition: background-color ease-out 500ms, color ease-out 1s;
	transition: background-color ease-out 500ms, color ease-out 1s;
}

.orientation {
	border-bottom: 0.5px solid lightgray;
	border-top: 0.5px solid lightgray;
}

.campus {
	border-top: 0.5px solid lightgray;
	margin-top: 1px;
}


/*****************************************/
/* RESPONSIVE INFORMATION SECTION TABLET */
/*****************************************/

@media only screen and (min-width: 500px) and (max-width: 1024px) {
	
	.information {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.information-left-content {
		text-align: center;
	}

	.information-sidebar {
		width: 100%;
	}

	.info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		text-align: center;
		padding: 3rem 0 3rem 0;
	}

}

/****************************************/
/* RESPONSIVE INFORMATION SECTION PHONE */
/****************************************/

@media only screen and (max-width: 500px) {

	.information-left {
		display: none;
	}

	.information-sidebar {
		width: 100%;
		padding: 0 1.5rem 0 0;
	}

	.info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		text-align: center;
		padding-top: 3rem;
	}

	.info-text a:hover {
		width: auto;
		background-color: white;
		border: none;
		color: blue;
		border-radius: 0;
		-webkit-transition: color ease-out 500ms;
		transition: color ease-out 500ms;
	}

	.guest-lecture {
		background: none;
	}

	.orientation, .campus {
		border: none;
	}
}

/*******************/
/* COURSES SECTION */
/*******************/

.courses {
	padding: 0 4.5rem 4.5rem 4.5rem;
}

.courses h2 {
	font-size: 2.5rem;
	font-weight: 800;
	text-align: center;
	padding: 2rem 0;
}

.courses-cards {
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.course {
	width: 30%;
	background-color: white;
	margin-bottom: 2rem;
}

.course-image {
	width: 100%;
}

.course-image img {
	max-width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.course-text {
	text-align: left;
	padding: 1rem 1rem;
}

.course-text h3, .course-text span, .course-text p {
	padding: 0.5rem;
}

.course h3 {
	font-weight: bold;
	font-size: 1.5rem;
}

/*************************************/
/* RESPONSIVE COURSES SECTION TABLET */
/*************************************/

@media only screen and (min-width: 500px) and (max-width: 1024px) {
	
	.course {
		width: 40%;
		border-radius: 0;
	}

	.course-image img {
		max-width: 100%;
		height: auto;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.course h3 {
		font-size: 1.1rem;
	}

	.course-text span, .course-text p {
		font-size: 0.9rem;
	}

}

/************************************/
/* RESPONSIVE COURSES SECTION PHONE */
/************************************/

@media only screen and (max-width: 500px) {

	.courses {
		display: none;
	}

	.courses-mobile h2 {
		font-size: 2.5rem;
		font-weight: 800;
		text-align: center;
		padding: 2rem 1rem 2rem 0;
	}

	.courses-mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 1rem;
		text-align: left; 
	}

	.courses-mobile div {
		margin: 0.5rem 0;
		padding: 1rem 1rem 1.5rem 1rem;
		border-radius: 5px;
	}

	.courses-mobile div span {
		font-size: 1.5rem;
		font-weight: 500;
		opacity: 0.7;
	}

	.courses-mobile div:hover {
		background-color: royalblue;
		color: white;
		-webkit-transition: background-color ease-out 500ms, color ease-out 500ms;
		transition: background-color ease-out 500ms, color ease-out 500ms;
	}
}

/******************/
/* THESIS SECTION */
/******************/

.thesis video {
	max-width: 100%;
	height: auto;
	background-color: rgb(216, 216, 216);
}

.thesis {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: white;
}

.thesis .information-left {
	border: none;
}

.thesis .orientation {
	border: none;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
	padding: 2rem 0;
}

.thesis .information-sidebar {
	padding-top: 2rem;
}

/********************************************/
/* RESPONSIVE THESIS SECTION PHONE + TABLET */
/********************************************/

@media only screen and (max-width: 1024px) {

	.thesis .information-sidebar {
		display: none;
	}

	.these .large-img-padding {
		padding: 0;
	}

	.thesis .large-img-container {
		width: 100%;
	}

	.thesis .information-left {
		display: block;
		width: 100%;
		background: none;
	}

	.thesis .information-left-content {
		display: none;
	}

	.thesis .title {
		font-size: 2rem;
	}

}

/******************/
/* FOOTER SECTION */
/******************/

footer {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem 1.5rem;
}

.legal span, .copyright {
	opacity: 0.5;
}

.legal span a {
	color: black;
	padding: 1rem;
}

.legal span a:hover {
	color: blue;
	-webkit-transition: color ease-out 750ms;
	transition: color ease-out 750ms;
}

/***************************/
/* RESPONSOVE FOOTER PHONE */
/***************************/

@media only screen and (max-width: 1024px) {

	footer .legal {
		display: none;
	}
}